<!DOCTYPE html>
<html>
<head>
  <title>Remove a Student</title>
</head>
<body>
  <form action="/students/remove" method="POST">
    <input type="text" name="remove" placeholder="Name">
    <button type="submit">Remove</button>
  </form>
</body>
</html>
